/target/
/temp/

/sdk/lib/
/native/lib/

/xtask/target/
/xtask/Cargo.lock

/native/archives/

/resources/*/native/
/resources/*/*-LICENSE.txt
/resources/*/NATIVE-INPUTS.sha256

__pycache__/
*.pyc
/python/python/p4rust/*.pyd
/python/python/p4rust/*.so
/python/python/p4rust/licenses/
